.breadcrumb {
    list-style: none;
    border: 0;
    padding: 0;
    font-size: 18px;
    color: #8F8C97;


    li {
        float: left;
        line-height: 75px;

        ::after {
            // font-family: $material;
            // content: "chevron_right";
            // padding-top: 15px;
            content: "\f054";
            font-family: FontAwesome;
            font-size: 13px;
            padding: 5px;
            color: #D8D8D8;
        }

        a, a:link, a:active, a:visited {
            color: #8F8C97;
            text-decoration: none;
        }
    }

    .active {
        color: #F15B5D;
    }
}